[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "amx"]
	path = lib/amx
	url = git@github.com:darwinawardwinner/amx.git
[submodule "anzu"]
	path = lib/anzu
	url = git@github.com:syohex/emacs-anzu.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cider"]
	path = lib/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-lsp"]
	path = lib/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "dap-mode"]
	path = lib/dap-mode
	url = git@github.com:yyoncho/dap-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:hlissner/emacs-doom-themes.git
[submodule "elisp-slime-nav"]
	path = lib/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "evil-commentary"]
	path = lib/evil-commentary
	url = git@github.com:linktohack/evil-commentary.git
[submodule "evil-magit"]
	path = lib/evil-magit
	url = git@github.com:emacs-evil/evil-magit.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "lib/async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "lib/auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "lib/borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "lib/closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "lib/company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "lib/counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "lib/dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "lib/diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "lib/doom-themes"]
	path = lib/doom-themes
	url = git@github.com:hlissner/emacs-doom-themes.git
[submodule "lib/elisp-slime-nav"]
	path = lib/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "lib/emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
[submodule "lib/epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "lib/evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "lib/evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "lib/evil-commentary"]
	path = lib/evil-commentary
	url = git@github.com:linktohack/evil-commentary.git
[submodule "lib/flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "lib/general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
[submodule "lib/ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "lib/git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "lib/hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "lib/magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "lib/magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "lib/no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "lib/packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "lib/popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "lib/swiper"]
	path = lib/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lib/use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "lib/which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "lib/with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:abo-abo/lispy.git
[submodule "lispyville"]
	path = lib/lispyville
	url = git@github.com:noctuid/lispyville.git
[submodule "lsp"]
	path = lib/lsp
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "lsp-java"]
	path = lib/lsp-java
	url = git@github.com:emacs-lsp/lsp-java.git
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "swiper"]
	path = lib/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "tree-mode"]
	path = lib/tree-mode
	url = git@github.com:emacsorphanage/tree-mode.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
